<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
<nav class="nav js-sticky-nav">
    <a href="/dashboard" class="brand">
        <i class="fas fa-piggy-bank"></i>PIGGYbank
    </a>
    <ul class="nav-items">
        <li class="nav-item"><a class="nav-link" href="/dashboard">Pulpit</a></li>
        <li class="nav-item"><a class="nav-link" href="/przelew">Nowy przelew</a></li>
        <li class="nav-item"><a class="nav-link" href="/history">Historia</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Wyloguj</a></li>
    </ul>
</nav>


<button id="menu_btn" class="mobile-burger open"><img src="images/logo-white.png"
                                                      alt="Przycisk Menu"></button>

<nav class="mobile-nav inactive">
    <a href="/dashboard" class="brand">
        <i class="fas fa-piggy-bank"></i>PIGGYbank
    </a>

    <ul class="nav-items">
        <li class="nav-item"><a class="nav-link" href="/dashboard">Pulpit</a></li>
        <li class="nav-item"><a class="nav-link" href="/przelew">Nowy przelew</a></li>
        <li class="nav-item"><a class="nav-link" href="/history">Historia</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Wyloguj</a></li>
    </ul>
</nav>
</div>