<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<nav class="nav js-sticky-nav">
    <a href="/dashboard" class="brand">
        <i class="fas fa-piggy-bank"></i>PIGGYbank
    </a>
    <ul class="nav-items">
        <li class="nav-item"><a class="nav-link" href="/dashboard">Pulpit</a></li>
        <li class="nav-item"><a class="nav-link" href="/history">Historia</a></li>
        <li class="nav-item"><a class="nav-link" href="/search">Wyszukiwarka</a></li>
        <li class="nav-item"><a class="nav-link" href="/myaccount">Moje konto</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/dashboard" sec:authorize="hasRole('ADMIN')">Panel Administratora</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Wyloguj</a></li>
       </ul>
</nav>


<button id="menu_btn" class="mobile-burger open"><img src="images/logo-white.png"
                                                      alt="Przycisk Menu"></button>

<nav class="mobile-nav inactive">
    <a href="/dashboard" class="brand">
        <i class="fas fa-piggy-bank"></i>PIGGYbank
    </a>

    <ul class="nav-items">
        <li class="nav-item"><a class="nav-link" href="/dashboard">Pulpit</a></li>
        <li class="nav-item"><a class="nav-link" href="/history">Historia</a></li>
        <li class="nav-item"><a class="nav-link" href="/search">Wyszukiwarka</a></li>
        <li class="nav-item"><a class="nav-link" href="/myaccount">Moje konto</a></li>
        <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/admin/dashboard">Panel Administratora</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Wyloguj</a></li>
    </ul>
</nav>
</div>