<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Konto: [[${account.account.bankNumber}]]</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div th:replace="~{layout/breadcrumb :: breadcrumb(@{/account/{account}(account=${account.account.id})}, ${account.account.bankNumber})}"></div>
</div>
<div class="hero-unit" layout:fragment="content">


    <section class="section bg-color-light pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col l6">
                    <h6 class="mb-3">Konto: [[${account.account.bankNumber}]]</h6>
                    <p>Balance: [[*{#numbers.formatDecimal(account.balance,1,2,'COMMA')}]] [[${account.account.currency.slug}]]</p>
                    <a class="btn btn-primary btn-submit"
                       th:href="@{/transfer/{account}(account=*{account.account.id})}">Nowy przelew z tego konta</a>

                </div>

                <div class="col l6">
                    <h6 class="mb-3">Dane konta</h6>
                    <p>Utworzono: [[*{account.account.createAt}]]</p>
                </div>

                <div class="col l12">
                    <br><br>

                    <h6 class="mb-3">Historia</h6>
                    <div class="card">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Nadawca</th>
                                <th>Odbiorca</th>
                                <th>Nazwa</th>
                                <th>Wartość</th>
                            </tr>
                            </thead>

                            <tbody>
                            <div th:each="history:${account.history}" th:object="${history}">

                                <tr>
                                    <td>[[*{createAt}]]</td>
                                    <td>[[*{from.bankNumber}]]</td>
                                    <td>[[*{to.bankNumber}]]</td>
                                    <td>[[*{title}]]</td>
                                    <td>[[*{#numbers.formatDecimal(value,1,2,'COMMA')}]]</td>
                                </tr>

                            </div>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>