<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Nowy przelew</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div th:replace="~{layout/breadcrumb :: breadcrumb(@{/account/{account}(account=${account.account.id})}, ${account.account.bankNumber})}"></div>
</div>


<div class="hero-unit" layout:fragment="content">


    <section class="section bg-color-light pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col l12">
                    <form th:action="@{send}" th:method="post" th:object="${form}">

                        <div class="form-control">
                            <label>Z konta</label>
                            <label>
                                <select th:field="*{from}">
                                    <option th:each="single:${myAccounts}" th:value="${single.account.id}">
                                        [[${single.account.bankNumber}]] ([[${#numbers.formatDecimal(single.balance,1,2,'COMMA')}]] [[${single.account.currency.slug}]])
                                    </option>
                                </select>
                            </label>
                        </div>


                        <div class="form-control">
                            <label for="name">Tytuł</label>
                            <input id="name" th:field="*{title}" type="text">
                            <span class="helper-text wrong" th:if="${#fields.hasErrors('title')}"
                                  th:each="err : ${#fields.errors('title')}"
                                  th:text="${err}"></span>
                        </div>

                        <div class="form-control">
                            <label for="name">Ile</label>
                            <input th:field="*{value}" type="text" class="form-input">
                            <span class="helper-text wrong" th:if="${#fields.hasErrors('value')}"
                                  th:each="err : ${#fields.errors('value')}"
                                  th:text="${err}"></span>
                        </div>

                        <div class="form-control">
                            <label for="name">Do</label>
                            <p style="font-size: .5em;">Projekt podpowiada konta gdy wpiszesz np: demo</p>
                            <input th:field="*{to}" type="text" list="accounts" autocomplete="off">
                            <span class="helper-text wrong" th:if="${#fields.hasErrors('to')}"
                                  th:each="err : ${#fields.errors('to')}"
                                  th:text="${err}"></span>
                            <datalist id="accounts">
                                <option value="PL00000000000000">Konto Demo</option>
                                <option th:each="single:${myAccounts}" th:value="${single.account.bankNumber}">
                                   Przelew własny do [[${single.account.bankNumber}]] ([[${#numbers.formatDecimal(single.balance,1,2,'COMMA')}]] [[${single.account.currency.slug}]])
                                </option>
                            </datalist>
                        </div>


                        <button type="submit" class="btn btn-primary btn-submit" value="1">Wyślij przelew</button>

                    </form>
                </div>
            </div>
        </div>
    </section>


</div>

</body>
</html>