<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/official-layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Kontakt</title>
</head>
<body>
<div class="hero-unit" layout:fragment="content">

    <section class="section bg-color-light pt-4 pb-3">
        <div class="container">
            <div class="row">
                <div class="col m6">
                    <h1>Kontakt</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col l6 v-center">
                    <img src="/images/ec-cash-1750490_640.jpg" class="img-flex">
                </div>
                <div class="col l6 v-center">
                    <h2 class="h5">Gniazdko do nas</h2>
                    <ul>
                        <li>PiggyBank</li>
                        <li>email: office@piggybank.pl</li>
                        <li>tel: +0700880123 [39,99zł za minutę rozmowy]</li>
                        <li>Kapitał zakładowy: 9,99zł</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>