<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>

<div class="hero-unit" layout:fragment="content">

    <section class="section bg-color-light pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col l6">
                    <h6 class="mb-3">Moje konta</h6>


                    <div th:each="account:${accountList}" th:object="${account}">

                        <div class="card">
                                <span class="card-title">[[*{account.bankNumber}]]</span>
                                <div class="card-content">
                                    <h6>Stan konta: [[*{#numbers.formatDecimal(balance,1,2,'COMMA')}]] [[*{account.currency.slug}]]</h6>
<!--                                    <a class="btn bg-color-light btn-submit" th:href="@{/account/show(id=*{id})}">Nowy przelew</a>-->
                                    <a class="btn bg-color-light btn-submit" th:href="@{/transfer/{account}(account=*{account.id})}">Nowy przelew</a>
                                    <a class="btn bg-color-light btn-submit" th:href="@{account/{account}(account=*{account.id})}">Szczegóły konta</a>
                                </div>
                        </div>
                    </div>

                </div>

                <div class="col l6">
                    <h6 class="mb-3">Historia</h6>
                    <div class="card">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Data</th>
                            <th>Nadawca</th>
                            <th>Odbiorca</th>
                            <th>Nazwa</th>
                            <th>Wartość</th>
                        </tr>
                        </thead>

                        <tbody>
                        <div th:each="history:${historyList}" th:object="${history}">

                            <tr>
                                <td>[[*{createAt}]]</td>
                                <td>[[*{from.bankNumber}]]</td>
                                <td>[[*{to.bankNumber}]]</td>
                                <td>[[*{title}]]</td>
                                <td>[[*{#numbers.formatDecimal(value,1,2,'COMMA')}]]</td>
                            </tr>

                        </div>
                        </tbody>
                    </table>
                        <div class="card-content">
                            <a href="/history" class="btn btn-primary btn-submit">Zobacz całą historię</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>
</html>