<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Historia transakcji</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div th:replace="~{layout/breadcrumb :: breadcrumb('/history', 'Historia')}"></div>
</div>
<div class="hero-unit" layout:fragment="content">


    <section class="section bg-color-light pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col l12">
                    <h6 class="mb-3">Historia</h6>
                    <div class="card">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Nadawca</th>
                                <th>Odbiorca</th>
                                <th>Nazwa</th>
                                <th>Wartość</th>
                                <th>Waluta</th>
                            </tr>
                            </thead>

                            <tbody>
                            <div th:each="history:${historyList}" th:object="${history}">

                                <tr>
                                    <td>[[*{createAt}]]</td>
                                    <td>[[*{from.bankNumber}]]</td>
                                    <td>[[*{to.bankNumber}]]</td>
                                    <td>[[*{title}]]</td>
                                    <td>[[*{#numbers.formatDecimal(value,1,2,'COMMA')}]]</td>
                                    <td>[[*{from.currency.slug}]] </td>
                                </tr>

                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>
</body>
</html>