<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/official-layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>


<div class="hero-unit" layout:fragment="content">

    <section class="section bg-color-light pt-4 pb-3">
        <div class="container">
            <div class="row">
                <div class="col m6">
                    <h1> <i class="fas fa-piggy-bank"></i>PIGGYbank</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-6 pb-5">
        <div class="container">
            <div class="row">
                <div class="col l6 v-center">
                    <h2 class="h5">Twoje pieniądze w naszych rękach</h2>
                    <p>Nie mamy swoich pieniędzy dlatego stworzyliśmy ten bank. Ty nie używasz ich a my w tym czasie inwestujemy je. Jak nam się nie uda to możemy wypłacić Ci pieniądze innych użytkowników, a Ty nawet się nie zorientujesz. Na naszej stronie używamy mądrych słów i ciekawych zdjęć bo to się nam opłaca.</p>

                    <div>
                        <a href="/login" class="btn btn-primary btn-submit">Zaloguj się</a>
                    </div>
                </div>

                <div class="col l6 v-center">
                    <img src="/images/accountant-1238598_640.jpg" class="img-flex">
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-color-light pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col l6 v-center">
                    <img src="/images/bank-2024432_640.png" class="img-flex">
                </div>
                <div class="col l6 v-center">
                    <h4>Zarejestruj się dziś i odbierz kartę</h4>
                    <p class="mb-2">Twoje pieniądze w jednym miejscu</p>

                    <p>*Wszelkie informacje o dodatkowych opłatach umieszczone są w regulaminach napisane drobnym
                        druczkiem.</p>

                    <div>
                        <a href="/register" class="btn btn-primary btn-submit">Złóż wniosek</a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="section pt-6 pb-5">
        <div class="container">
            <div class="row">
                <div class="col l6 v-center">
                    <h2 class="h5">Aplikacja mobilna</h2>
                    <p>Abyś szybciej i więcej wydawał pracujemy na Technologiach Mobilnych nad aplikacja, która pozwoli szybciej wyciągać kasę z Twojej kieszeni. Nie martw się jak nie używasz jej to i tak za nią zapłacisz.</p>
                </div>

                <div class="col l6 v-center">
                    <img src="/images/money-2212965_640.jpg" class="img-flex">
                </div>
            </div>
        </div>
    </section>

</div>

</body>
</html>





