<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/official-layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Logowanie</title>
</head>
<body>
<div class="hero-unit" layout:fragment="content">

    <form action="/login" method="POST" class="form-signin">
        <h3 class="form-signin-heading">LOGIN PAGE</h3>

                <br/>
                <div th:if="${param.error}">
                    <p>Username or password is invalid</p>
                </div>

        <input type="text" id="username" name="username" placeholder="Username or email"
               class="form-control"/> <br/>
        <input type="password" placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>


        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Login</button>
    </form>


</div>

</body>
</html>