<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Historia transakcji</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div th:replace="~{layout/breadcrumb :: breadcrumb('/search', 'Wyszukiwarka')}"></div>
</div>
<div class="hero-unit" layout:fragment="content">

    <section class="section bg-color-light pt-3 pb-3">
        <div class="container">
            <form method="post" action="/search" th:object="${searchType}">

                <div class="row">
                    <div class="col m12">
                        <h5>Wyszukiwarka</h5>
                    </div>

                    <div class="col m4">
                        <div class="form-control">
                            <label>Od</label>
                            <input type="date" class="form-input" min="1997-01-01" max="2030-12-31" placeholder=""
                                   th:field="*{from}">
                            <span class="helper-text wrong" th:if="${#fields.hasErrors('from')}"
                                  th:each="err : ${#fields.errors('from')}"
                                  th:text="${err}"></span>
                        </div>
                        <div class="form-control">
                            <label>do</label>
                            <input type="date" class="form-input" min="1997-01-01" max="2030-12-31" placeholder=""
                                   th:field="*{to}">
                            <span class="helper-text wrong" th:if="${#fields.hasErrors('to')}"
                                  th:each="err : ${#fields.errors('to')}"
                                  th:text="${err}"></span>
                        </div>
                        <!--                        <div class="form-control">-->
                        <!--                            <label>Opis</label>-->
                        <!--                            <input type="text" class="form-input"  placeholder="" th:field="*{description}">-->
                        <!--                            <span class="helper-text wrong" th:if="${#fields.hasErrors('description')}"-->
                        <!--                                  th:each="err : ${#fields.errors('description')}"-->
                        <!--                                  th:text="${err}"></span>-->
                        <!--                        </div>-->
                    </div>
                    <div class="col m4">


                        <div class="form-control">
                            <label>Wartość do</label>
                            <input type="number" class="form-input" step="0.01" placeholder="" th:field="*{valueFrom}">
                            <span class="helper-text wrong" th:if="${#fields.hasErrors('valueFrom')}"
                                  th:each="err : ${#fields.errors('valueFrom')}"
                                  th:text="${err}"></span>
                        </div>

                        <div class="form-control">
                            <label>Wartość do</label>
                            <input type="number" class="form-input" step="0.01" placeholder="" th:field="*{valueTo}">
                            <span class="helper-text wrong" th:if="${#fields.hasErrors('valueTo')}"
                                  th:each="err : ${#fields.errors('valueTo')}"
                                  th:text="${err}"></span>
                        </div>
                    </div>

                    <div class="col m4">
                        <div class="form-control">
                            <label>Konto</label>
                            <label>
                                <select th:field="*{account.id}">
                                    <option th:each="single:${accountList}" th:value="${single.account.id}">
                                        [[${single.account.bankNumber}]]
                                        ([[${#numbers.formatDecimal(single.balance,1,2,'COMMA')}]]
                                        [[${single.account.currency.slug}]])
                                    </option>
                                </select>
                            </label>
                        </div>
                    </div>

                    <div class="col m12">
                        <button type="submit" class="btn btn-primary btn-submit">Szukaj</button>
                    </div>

                </div>


            </form>
        </div>
    </section>

    <section class="section bg-color-light pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col l12">
                    <h6 class="mb-3">Wyszukane w histori rachunku</h6>
                    <div class="card">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Nadawca</th>
                                <th>Odbiorca</th>
                                <th>Nazwa</th>
                                <th>Wartość</th>
                                <th>Waluta</th>
                            </tr>
                            </thead>

                            <tbody>
                            <div th:each="history:${historyList}" th:object="${history}">

                                <tr>
                                    <td>[[*{#dates.format(createAt, 'dd-MM-yyyy HH:mm')}]]</td>
                                    <td>[[*{from.bankNumber}]]</td>
                                    <td>[[*{to.bankNumber}]]</td>
                                    <td>[[*{title}]]</td>
                                    <td>[[*{#numbers.formatDecimal(value,1,2,'COMMA')}]]</td>
                                    <td>[[*{from.currency.slug}]]</td>
                                </tr>

                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>