<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Project</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/platformy.css}"/>
</head>
<body>
<div layout:fragment="menu">
  <div th:replace="~{layout/nav :: menu}"></div>
</div>
<div layout:fragment="breadcrumb">
  <div th:replace="~{layout/breadcrumb :: breadcrumb('/', 'Pulpit')}"></div>
</div>
<div class="container">
  <div layout:fragment="content"></div>
  <div layout:fragment="footer"></div>
</div>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2020 PiggyBank przy współpracy z BiedaBank by Gabski
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script  th:src="@{/js/custom.js}"></script>
</body>
</html>