<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Project</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div layout:fragment="menu">
  <div th:replace="~{layout/official-nav :: menu}"></div>
</div>
<div class="snackbar snack" th:if="${alert}" th:text="${alert.content}"></div>

<div layout:fragment="content"></div>

<footer class="footer">
  <div class="container pt-5">

    <div class="row">
      <div class="col l3">
        <h6>Nawigacja</h6>
        <ul>
          <li><a href="/">Strona główna</a></li>
          <li><a href="/register">Złóz wniosek</a></li>
          <li><a href="/login">Zaloguj się</a></li>
          <li><a href="/contact">Kontakt</a></li>
        </ul>
      </div>
      <div class="col l3">
        <h6></h6>
      </div>

      <div class="col l3">
        <h6>Zdjęcia</h6>
        <a href="https://pixabay.com/">Pixabay</a>
      </div>

      <div class="col l3">
        <h6>Kontakt</h6>
        <ul>
          <li>PiggyBank</li>
          <li>office@piggybank.pl</li>
        </ul>
      </div>
    </div>


  </div>
  <div class="bottom">
    PiggyBank przy współpracy z BiedaBank S.A. © 2020 Gabriel Koziestański
  </div>
</footer>

<script  th:src="@{/js/script.js}"></script>
</body>
</html>